@import url('https://fonts.googleapis.com/css?family=Lora');


body{
    color: white;
    margin: 0 auto;
    max-width: 640px;
    font-family: 'Lora', serif;
    line-height: 1.5;
    font-size: 18px;
    background-image: url(./background.svg);
    padding-top: 0;
}

header{
    background-color: white;
    padding: 5px;
    padding-left: 50px;
}

nav{
    background-color: #f05d5d;
    padding: 20px 40px 20px 40px;
    width: auto;
}

a{
    color: white;
    padding: 5px;
    text-decoration: none;
}

a:hover{
    color: purple;
    border-bottom: solid white;
}

section{
    background-color: #5000ff;
    padding: 40px;
    max-width: 640px;
}

h2{
    font-size: 32px;
    line-height: 1.2;
}

section img{
    width: 100%;
}

.store{
    padding: 0;
    max-width: 720px;
}

.coffee{
    padding: 0;
    max-width: 720px;
}

blockquote{
    font-size: 32px;
    line-height: 1.2;
    font-style: italic;
}

.map a {
    border-bottom: solid 3px red;
    padding:0;
    padding-bottom: 1px;
}


/* When the screen size is below 720px, these styles will be applied, which is an extremely powerful feature of
css. This is called a media query. */
@media(max-width:760px){

    body{
        padding-top: 0;
        font-size: 16px;
    }

    section,
    header{
        padding: 20px;
    }

    nav{
        padding: 10px 20px 10px 20px
    }

    h2,
    blockquote{
        font-size: 24px;
    }

    a{
        display: block;
    }

    a:hover{
        border: none;
    }

    blockquote{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .map a{
        border-bottom: solid;
        width: 30%;
    
    }


}